body
{
    font-family: 'Noto Serif', serif;
}
h1, h2, h3 {
    font-family: 'Lobster Two', cursive;

}
h2{
    color: #9467e7;;
}
header h2{
    color:rgb(67, 192, 241);
}
footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.row-content a {
    color: #9467e7;;
}